#c-navi {
    &_side {
        background: linear-gradient(to bottom, #152e4d, #051324) !important;
        max-width: 256px;

        & a {
            color: #fff !important;
            transition: 0.4s all ease-in-out;

            &:hover {
                text-decoration: none;
                padding-left: 23px;
            }
        }
    }
}

.c-navi {
    &_side {
        &-logo {
            max-width: 150px;
        }
    }
    &_filter {
        flex-wrap: wrap;

        & .v-btn__content {
            text-transform: none !important;
            @include md {
                font-size: 0.85em;
            }
        }
        & .v-size--default {
            height: auto !important;
            padding: 5px 15px !important;

            @include md {
                padding: 5px 8px !important;
            }
        }
        & .v-item--active {
            border-radius: 10px !important;
            color: #fff !important;
            height: auto !important;
            padding: 5px 8px !important;

            &::before {
                background: $color_main;
                opacity: 1 !important;
            }
        }
        & .v-btn::before {
            border-radius: 10px;
        }
    }
    &_pagination {
        & .v-pagination__item--active {
            background: $color_main !important;
        }
    }
}

//Sidebar Main Menu Alter

@media only screen and (min-width: 1264px) {
    .v-navigation-drawer {
        transform: translateX(0%) !important;

        &.v-navigation-drawer--active {
            transform: translateX(-110%) !important;
        }
    }
    .v-toolbar.l-header_toolbar {
        left: 256px !important;
        width: calc(100% - 256px) !important;

        @at-root .v-navigation-drawer--active + & {
            left: 0px !important;
            width: calc(100% + 0px) !important;
        }
    }
    .p-dashboard .v-main {
        padding-left: 256px !important;

        @at-root .p-dashboard .v-navigation-drawer--active + .l-header_toolbar + .v-main {
            padding-left: 0 !important;
        }
    }
}

.c-navi_side-trigger {
    z-index: 9;

    & .mdi-menu {
        display: none;
    }
    &_icon {
        position: relative;
        left: -36px;
    }
}
