.c-table {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background: #fff;
    padding-top: 0;
    padding-bottom: 5px;
    overflow: hidden;

    &_title {
        //background: #e1e1e1;
        background: #366594;
        color: #fff;
        font-weight: bold;
    }
    &_row {
        border-bottom: 1px solid #eee;
        @at-root .c-table &:last-child {
            border: none;
        }
    }
    &_col {
        padding: 10px 15px;
    }
}