*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: $text_color_dark;
}

a {
  color: $color_main;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html, .v-application {
  //font-family: "IBM Plex Sans",sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

