.p-login {
    //background: linear-gradient(to bottom, #0f1015, #07080a) !important;
    background: linear-gradient(to bottom, #43a8ff, #1777ca) !important;
    
    &_form {
        margin: 0 auto;
        padding: 25px;
        max-width: 600px;
        color: #fff;
        border-radius: 0 10px 10px 0 !important;
        
        @include sm {
            border-radius: 0 0 10px 10px !important;   
        }
        & .submit-btn {
            width: 100%;
        }
    }
    &_content {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        max-width: 900px;
        margin: 0 auto;

        @include lg {
            margin: 0 15px;
        }
        &-inner {
            min-height: 300px;
        }
    }
    &_intro {
        //background: linear-gradient(to bottom, #2a91e9, #196eb7) !important;
        background: linear-gradient(to bottom, #152E4D, #051324) !important;
        height: 100%;
        padding: 25px;
        color: #fff;
        position: relative;
        border-radius: 10px 0 0 10px;
        overflow: hidden;

        @include sm {
            border-radius: 10px 10px 0 0 !important;   
        }
        &::before {
            content: "";
            opacity: 0.1;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, #051324, rgba(0,0,0,0)), radial-gradient(circle, #fff 30%, transparent 10%), radial-gradient(circle, #fff 30%, transparent 10%);
            background-size: 100%, 10px 10px, 10px 10px;
            background-position: 0 0, 0 0, 50px 50px;
            background-repeat: repeat;
        }
        &-text {
            top: 50%;
            position: relative;
            transform: translateY(-50%);

            @include sm {
                transform: none;
                top: 0;
            }
            & .heading {
                color: #fff;
            }
        }
    }
    &_logo {
        max-width: 250px;
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40px;

        @include sm {
            position: relative;
            top: 0;
        }
    }
}