.l-content {
    &_wrap {
        background: inherit !important;
    }
    &_inner {
        height: 100%;
        max-width: 1410px;
    }
    &_heading {
        text-align: center;
        margin-bottom: 50px;
        
        & .slogan {
            font-weight: normal;
        }
    }
}