footer {
    background-color: inherit !important;
    border-top: 1px solid rgba(255,255,255, 0.1) !important;

    @at-root .p-dashboard & {
        background-color: #e7f0f9 !important;
        position: relative;
        border-top: 1px solid #cfd9e4 !important;

        & .l-footer_copyright {
            color: #444;
        }
    }
}

.l-footer {
    
    &_copyright {
        color: #fff;
    }
}